<html ng-app="TriviaBot">
<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<!-- <script type="text/javascript" src="angular.min.js"></script> -->
	<script type="text/javascript" src="triviabot.js"></script>

	<title>Riddler - Think you are smart?</title>
</head>
<body ng-controller="TriviaBotController" ng-cloak>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_IN/all.js#xfbml=1&appId=548610865234009";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="page_header">
	<h3>The Riddler</h3>

	<div class="fb_like">
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Think you are smart? Play Riddler with friends and other smart people" data-via="Gulagulaananda">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		<div class="fb-like" data-href="http://www.nikhilbaliga.com/riddler" data-width="100px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
</div>

<div class="panel_left">

	<div class="leaderboard">
		<h3>Leaderboard</h3>

		<ul>
			<li ng-repeat="(user, score) in all_users" ng-class="{bold: user == nick}">
				{{user}}
				<span class="score">{{score}}</span>
			</li>
		</ul>

	</div>

</div>

<div class="main_area">
	<div class="messages">
		<ul id="message_list">
			<li ng-repeat="(key, msg) in all_msgs" ng-class="{riddler_msg: is_riddler(msg.nick)}"><strong>{{msg.nick}}:</strong> {{msg.msg}}</li>
		</ul>
	</div>

	<form class="bottom_form">
		<button type="submit" class="submit_msg" ng-click="submit_msg()">Submit</button>
		<input type="text" class="my_msg" ng-model="my_msg" ng-disabled="nick == undefined" ng-keyup="key_pressed($event)">
	</form>
</div>

<div class="modal_backdrop" id="modal_backdrop"></div>
<div class="popup" id="popup">
	<div class="header">
		Welcome to The Riddler
	</div>
	<div class="body">
		<p>
			Answer as many questions as you can before someone else beats you to it.
		</p>

		<p>
			Just type in your nickname and start playing - As simple as that
		</p>

		<p class="align_center">
		<input type="text" class="nick" ng-model="nick" placeholder="Enter your nickname">
		</p>
	</div>
	<div class="footer">
		<a href="javascript: void(0);" class="login_button" ng-click="set_nick()">Start Playing</a>
	</div>
</div>

<script src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>

<link rel="stylesheet" type="text/css" href="triviabot.css">

</body>
</html>