body {
	font-family: arial;
}

.page_header {
	background: #2e2e2e;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding-left: 20px;
	font-size: 16px;

	.fb_like {
		position: absolute;
		right: 32px;
		top: 20px;
	}
}

.main_area {
	position: absolute;
	left: 0;
	top: 60px;
	right: 10px;
	bottom: 0px;
	display: inline-block;
	margin: auto;

	.panel_left {
		border-right: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		position: absolute;
		left: 0;
		top: 0px;
		bottom: 17px;
		width: 250px;

		h3 {
			background: #eee;
			padding: 5px 0 5px 20px;
			margin: 0;
			border: solid 1px #ddd;
		}

		.leaderboard {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			li {
				padding: 10px;
				position: relative;
				padding-left: 10px;
				font-size: 14px;
				border: solid 1px #ddd;
				margin-top: -1px;

				.score {
					position: absolute;
					right: 10px;
				}
			}
		}
	}

	.messages {
		border: solid 1px #ccc;
		position: absolute;
		top: 0;
		right: 0;
		left: 260px;
		bottom: 50px;

		ul {
			list-style-type: none;
			padding-left: 15px;
			position: absolute;
			overflow-y: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			li {
				margin-bottom: 10px;
				font-size: 14px;
			}

			li.riddler_msg {
				color: #cc0000;
			}

			.my_nick {
				background: rgb(255, 255, 200);
				padding: 3px;
				border: dotted 1px rgb(223, 156, 156);
			}
		}
	}

	.bottom_form {
		position: absolute;
		bottom: 0px;
		right: 0;
		left: 260px;
	}

	.my_msg {
		border: solid 1px silver;
		width: 100%;
		height: 30px;
	}

	.submit_msg {
		visibility: hidden;
	}
}

.bold {
	font-weight: bold;
}

.login_button {
	text-decoration: none;
	padding: 8px 15px 8px 15px;
	background: #008B00;
	border: solid 1px #008B00;
	color: #eee;
	font-size: 13px;
	position: absolute;
	text-shadow: 0 0 1px #444;
	border-radius: 3px;
	right: 25px;
	top: 7px;
	font-weight: bold;
}

.login_button:disabled {
	background: #6CBB6C;
	border: solid 1px #53A353;
}

.login_button:hover {
	opacity: 0.9;
}

.nick_errors {
	text-align: center;

	span {
		color: #cc0000;
	}
}

.modal_backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0.6;
	z-index: 100;
}

.popup {
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: solid 1px #ccc;
	height: 300px;
	width: 500px;
	z-index: 200;

	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 5px #444;

	.header, .footer {
		padding: 10px;
		background: #eee;
		height: 30px;
	}

	.header {
		font-size: 20px;
		padding-top: 20px;
	}

	.body {
		padding: 10px;
		font-size: 14px;
		color: #444;
	}

	.footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.align_center {
	text-align: center;
}

.nick {
	border: solid 1px #ccc;
	width: 200px;
	height: 27px;
	padding-left: 5px;
}

.hide {
	display: none;
	opacity: 0;
}

.junk_data {
	color: #fff;
}